/* Login(LOGINPAGE); Cadastre-se(REGISTERPAGE);  */
.text-1{
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-1);
}

/* Criar departamento(MODALcRIARdEPARTAMENTO); nome do departamento(MODALvISUALIZARdEPARTAMENTO); editar departamento(MODALeDITARdEPARTAMENTO); editar usuário(MODALeDITARuSUARIO)  */
.text-2{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-2);
}


/* Lista de Empresas(HOMEPAGE); empresa-departamento(USERPAGE) */
.text-3{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-4);
}

/* username(USERPAGE); Você ainda n foi contratado(USERPAGE); Departamentos(ADMINPAGE); Usuários Cadastrados (ADMINPAGE)  */
.text-4{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-5);
}

/* texto remover departamento(MODALrEMOVERdEPARTAMENTO); texto remover usuário(MODALrEMOVERuSUARIO); */
.text-5{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-3);
}

/* selecionar setor(HOMEPAGE); Selecionar Empresa(ADMINPAGE) */
.text-6{
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-6);
}

/* Descrição do departamento(MODALvISUALIZARdEPARTAMENTO); */
.text-7{
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-6);
}

/* Nome da Empresa(HOMEPAGE); Nome Funcionário (USERPAGE); Nome Departamento(ADMINPAGE); Username (ADMINPAGE); username(MODALvISUALIZARdEPARTAMENTO);  */
.text-8{
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-9);
}

/* botão login(HOMEPAGE); botão home(LOGINPAGE); botão cadastre-se(LOGINPAGE); botão home(REGISTERPAGE); botão retornar(REGISTERPAGE); botão logout (USERPAGE); botão logout (ADMINPAGE); */
.text-9{
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-11);
}

/* botão cadastro(HOMEPAGE); botão cadastro(LOGINPAGE); botão login(LOGINPAGE); botão login(REGISTERPAGE); botão Cadastrar(REGISTERPAGE); botão criar+(ADMINPAGE); botão Criar(MODALcRIARdEPARTAMENTO); botão contratar(MODALvISUALIZARdEPARTAMENTO); botão Desligar(MODALvISUALIZARdEPARTAMENTO); botão salvar(MODALeDITARdEPARTAMENTO); botão remover(MODALrEMOVERdEPARTAMENTO); botão salvar(MODALeDITARuSUARIO); botão remover(MODALrEMOVERuSUARIO); */
.text-10{
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-10);
}

/* Texto abaixo do login(LOGINPAGE); inputs(LOGINPAGE); texto entre botões login e cadastro(LOGINPAGE); inputs(REGISTERPAGE); Descrição Departamento (ADMINPAGE); Nome Empresa dptos(ADMINPAGE); Nome Empresa user (ADMINPAGE); inputs(MODALvISUALIZARdEPARTAMENTO); selecionar usuário(MODALvISUALIZARdEPARTAMENTO); nome da empresa(MODALvISUALIZARdEPARTAMENTO); inputs(MODALeDITARuSUARIO)*/
.text-11{
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-10);
}

/* Empresa pertencente(MODALvISUALIZARdEPARTAMENTO) */
.text-12{
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-7);
}


/* inputs(MODALcRIARdEPARTAMENTO); inputs(MODALeDITARdEPARTAMENTO);  */
.text-13{
    font-size: var(--font-size-9);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-13);
}


/* Setor da Empresa(HOMEPAGE);  */
.text-14{
    font-size: var(--font-size-10);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-14);
}

/* email(USERPAGE) */
.text-15{
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-8);
}

/* Empresa sem departamentos(ADMIN); */
.text-16{
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height-6);
}