.text-1{
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-1);
}

.text-2{
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-2);
}

.text-3{
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-4);
}

.text-4{
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-5);
}

.text-5{
    font-size: var(--font-size-5);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-3);
}

.text-6{
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-6);
}

.text-7{
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-6);
}

.text-8{
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-9);
}

.text-9{
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-11);
}

.text-10{
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-1);
    line-height: var(--line-height-10);
}

.text-11{
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-10);
}

.text-12{
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-7);
}

.text-13{
    font-size: var(--font-size-9);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-13);
}

.text-14{
    font-size: var(--font-size-10);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-14);
}

.text-15{
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-4);
    line-height: var(--line-height-8);
}

.text-16{
    font-size: var(--font-size-7);
    font-weight: var(--font-weight-3);
    line-height: var(--line-height-6);
}
